@()
<div class="row notloaded" ng-class="{'loaded': news.length}" ng-controller="NewsCtrl" infinite-scroll="more()" infinite-scroll-disabled="busy" infinite-scroll-distance="3">
    <div class="col-xs-12 newsItem well" ng-repeat="item in news track by item.id">
        <h3><a href="{{item.link}}" target="_blank">{{item.title}}</a></h3>
        <p class="pubDate"><b>{{formatDate(item.pubDate)}}</b></p>
        <p>{{item.content}}</p>
        <p><a class="tags" href="/#{{tag}}" ng-repeat="tag in item.tags" ng-click="loadByTag(tag)">{{tag}}</a></p>
        <p><span class="source">{{parseUrl(item.link)}}</span></p>
    </div>
</div>